$body-background-color: #99e4ff;
$text-color: rgba(255, 255, 255, 0.87);
$calculator-background: #384450;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $text-color;
  background-color: $body-background-color;
  img {
    top: 1.25rem;
    left: 1.25rem;
    width: 3.125rem;
  }
  .calculator {
    width: 18.75rem;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    background: $calculator-background;
    -webkit-box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(66, 68, 90, 1);
    -moz-box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(66, 68, 90, 1);
    box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(66, 68, 90, 1);
    .result {
      width: calc(100% + 0.75rem);
      height: 3.75rem;
      transform: translateX(-0.375rem);
      margin-bottom: 1.25rem;
      input {
        width: 100%;
        height: 100%;
        font-size: 2.8125rem;
        border: none;
        outline: none;
        color: $text-color;
        &:is(:focus, :active) {
          border: none;
          outline: none;
        }
      }
    }
    .row {
      &:not(:last-child) {
        margin-bottom: 0.625rem;
      }
      button {
        margin: 0 0.3125rem;
      }
    }
  }
}
