$body-background-color: linear-gradient(to top left, #753682 0%, #bf2e34 100%)
  fixed;
$game-area-background-color: rgba(255, 255, 255, 0.3);
$active-player-background-color: rgba(255, 255, 255, 0.5);
$primary-text-color: #c33e5d;
$secendary-text-color: #fefefe;
