@import "./colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  background: $body-background-color;
  .logo {
    top: 1.25rem;
    left: 1.25rem;
    width: 3.125rem;
  }
  .game-area {
    width: clamp(18.75rem, 62.5rem, 75rem);
    height: 70%;
    background: $game-area-background-color;
    .left-side,
    .right-side {
      opacity: 0.7;
      transition: 0.3s all;
    }
    .active-player {
      opacity: 1;
      background: $active-player-background-color;
    }
    .player-name {
      font-size: 64px;
    }
    .score {
      font-size: 80px;
      transform: translateY(-5rem);
      color: $primary-text-color;
    }
    .current-score {
      .current-score-box {
        padding: 2.5rem 4.375rem;
        transform: translateY(-1.875rem);
        color: $secendary-text-color;
        background: $primary-text-color;
      }
    }
    .action-buttons {
      width: 12.5rem;
      .dice {
        img {
          width: 9.375rem;
        }
      }
    }
  }
}
