$border-color: #e7ebf0;
$text-color: #333;
$active-tab: #277fd5;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  img {
    top: 20px;
    left: 20px;
    width: 50px;
  }
  .tabs-container {
    padding: 20px;
    border: 2px solid $border-color;
    border-radius: 5px;
    .btn-container {
      font-weight: 500;
      border-bottom: 2px solid $border-color;
      color: $text-color;
      button {
        width: 33%;
        padding: 10px 0px;
        outline: none;
        transition: 0.3s all;
        &:hover {
          color: $active-tab;
        }
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          left: 0;
          bottom: -2px;
          background: none;
        }
        &.active {
          color: $active-tab;
        }
        &.active::before {
          background: $active-tab;
        }
      }
    }
    .tab-data {
      margin-top: 10px;
      padding: 0 0 10px 0;
      &.d-none {
        display: none;
      }
    }
  }
  @media (max-width: 700px) {
    .tabs-container {
      width: 90%;
    }
  }
}
