$border-color: #e7ebf0;
$text-color: #333;
$active-tab: #277fd5;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  img {
    top: 1.25rem;
    left: 1.25rem;
    width: 3.125rem;
  }
  .tabs-container {
    padding: 1.25rem;
    border: 0.125rem solid $border-color;
    border-radius: 0.3125rem;
    .btn-container {
      font-weight: 500;
      border-bottom: 0.125rem solid $border-color;
      color: $text-color;
      button {
        width: 33%;
        padding: 0.625rem 0rem;
        outline: none;
        transition: 0.3s all;
        &:hover {
          color: $active-tab;
        }
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 0.125rem;
          left: 0;
          bottom: -0.125rem;
          background: none;
        }
        &.active {
          color: $active-tab;
        }
        &.active::before {
          background: $active-tab;
        }
      }
    }
    .tab-data {
      margin-top: 0.625rem;
      padding: 0 0 0.625rem 0;
      &.d-none {
        display: none;
      }
    }
  }
  @media (max-width: 43.75rem) {
    .tabs-container {
      width: 90%;
    }
  }
}
