$body-background-color: #242424;
$button-background-color: #646cff;
$not-active-button: #666;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $body-background-color;
  .thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
  }

  .thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
  }

  .thumbnail img {
    width: 100%;
    height: auto;
  }
  .swiper {
    width: 300px;
    height: 100px;
    color: #fff;
  }
  .gallery {
    width: 600px;
    height: 400px;
    overflow-x: hidden;
    .buttons {
      button {
        font-size: 40px;
        border: none;
        color: $button-background-color;
        background: none;
        cursor: pointer;
      }
      span {
        width: 40px;
        height: 10px;
        border-radius: 5px;
        margin: 0 2px;
        background: $not-active-button;
        transition: 0.3s all;
        cursor: pointer;
        &.active-button {
          width: 60px;
          background: $button-background-color;
        }
      }
    }
  }
}
