$background-blur-color: rgba(255, 255, 255, 0.1);
$glass-border-color: rgba(255, 255, 255, 0.85);

body {
  background: url("/public/paris.jpg");
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  img {
    top: 1.25rem;
    left: 1.25rem;
    width: 3.125rem;
    z-index: 1;
  }
  .background-blur {
    backdrop-filter: blur(1.25rem);
    background: $background-blur-color;
  }
  .glasses {
    width: 33.75rem;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4.375rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 0.25rem solid transparent;
      border-top: 0.25rem solid $glass-border-color;
    }
    .glass-1,
    .glass-2 {
      width: 15.625rem;
      aspect-ratio: 1/1;
      border: 0.25rem solid $glass-border-color;
      border-radius: 50%;
      background: url("/public/paris.jpg");
      background-position: center;
      background-attachment: fixed;
      overflow: hidden;
    }
  }
  @media (max-width: 43.75rem) {
    .glasses {
      width: 21.25rem;
      &::before {
        width: 5rem;
      }
      .glass-1,
      .glass-2 {
        width: 9.375rem;
      }
    }
  }
  @media (max-width: 31.25rem) {
    .glasses {
      width: 15rem;
      &::before {
        top: 60%;
        width: 4.375rem;
      }
      .glass-1,
      .glass-2 {
        width: 6.25rem;
      }
    }
  }
}
