$border-color: #e7ebf0;
$text-color: #333;
$button-background-color: #277fd5;
$button-text-color: #fff;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  img {
    top: 1.25rem;
    left: 1.25rem;
    width: 3.125rem;
  }
  .password-container {
    width: 25rem;
    padding: 0.625rem;
    border: 0.125rem solid $border-color;
    input[type="text"] {
      display: block;
      padding: 0.625rem 3.125rem 0.625rem 1.25rem;
      font-size: 1.125rem;
      border: 0.125rem solid $border-color;
      &:focus {
        outline: none;
      }
    }
    .btn-copy {
      transform: translate(-1.25rem, 1.0625rem);
    }
    .option-container {
      margin-top: 2.5rem;
      &:nth-child(2) {
        padding: 0 0.625rem;
        input[type="checkbox"] {
          -webkit-appearance: none;
          appearance: none;
          place-content: center;
          font: inherit;
          width: 1.25rem;
          height: 1.25rem;
          border: 0.125rem solid currentColor;
          border-radius: 0.25rem;
          transform: translateY(-0.075em);

          &::before {
            content: "";
            width: 0.625rem;
            height: 0.625rem;
            transform: scale(0);
            transition: 0.1s transform ease-in-out;
            box-shadow: inset 0.625rem 0.625rem $button-background-color;
          }
          &:checked::before {
            transform: scale(1);
          }
        }
        label {
          transform: translate(1.875rem, -2rem);
        }
      }
      &::before {
        position: absolute;
        content: "";
        left: 0.9375rem;
        top: -1.5625rem;
        width: calc(100% - 1.875rem);
        height: 0.125rem;
        background: $border-color;
      }
      input {
        height: 2.5rem;
        margin-bottom: 0.625rem;
        cursor: pointer;
        &[type="range"] {
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: 0.1875rem solid $button-background-color;
            height: 1.25rem;
            width: 1.25rem;
            border-radius: 50%;
            cursor: pointer;
            background: #fff;
            margin-top: -0.4375rem;
          }
          &::-webkit-slider-runnable-track {
            width: 100%;
            height: 0.25rem;
            cursor: pointer;
            border-radius: 0.3125rem;
            background: $button-background-color;
          }
        }
      }
      .length {
        transform: translateY(0.375rem);
      }
      button {
        height: 3.125rem;
        border: none;
        outline: none;
        background: $button-background-color;
        color: $button-text-color;
      }
    }
  }
  @media (max-width: 28.125rem) {
    .password-container {
      width: 90%;
    }
  }
}
